/.vscode
/link utili (fonti).txt
*.exe
*.o

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Debugger Files
*.pdb

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo